<div class="row">
    <div class="col-md">
        <h1 class="display-4">Welcome, Java Hipster!</h1>
        <p class="lead">This is your homepage</p>
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>

                <a routerLink="electro-vanne" routerLinkActive="active">
                    <span>Arrosage</span>
                </a>

            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <a class="alert-link" (click)="login()">Se connecter</a>
            </div>
        </div>
    </div>
</div>